:root {
  --light: #F3F6F9;
  --dark: #191C24;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  background: #9ab251;
  color: #FFF;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}


/*** Button ***/
.btn {
  transition: .5s;
}

.btn.btn-primary {
  color: #FFFFFF;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}


/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--light);
  transition: 0.5s;
  z-index: 999;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #F1F1F1;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #9ab251;
  border-radius: 8px;
}

.content {
  margin-left: 250px;
  min-height: 100vh;
  background: #FFFFFF;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }

  .sidebar.open {
    margin-left: -250px;
  }

  .content {
    width: calc(100% - 250px);
  }

  .content.open {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.open {
    margin-left: 0;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}


/*** Navbar ***/
.sidebar .navbar .logo {
  font-size: 25px;
}

.sidebar .user-text .user-name {
  font-size: 15px;
}

.sidebar .user-text .user-email {
  font-size: 12px;
}

.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--dark);
  font-weight: 500;
  border-left: 3px solid var(--light);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: #9ab251;
  background: #FFFFFF;
  border-color: #9ab251;
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--light);
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
  padding-left: 25px;
  border-radius: 0 30px 30px 0;
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--dark);
  outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: #9ab251;
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 40px;
  color: #9ab251;
}

.content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}



@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
    margin-left: 15px;
  }
}

/* Leads */
.card-leads {
  background-color: #0a082f;
  color: #FFFFFF;
  height: 90%;
}

.card-leads i {
  color: #9ab251;
}

.card-leads h6 {
  color: #FFFFFF;
}

/* Atendente carousel */
.atendente-item,
.whatsapp-item {
  background-color: #FFFFFF;
  width: 95%;
  padding: 10px;
}

.atendente-item h5,
.whatsapp-item h5 {
  font-size: 16px;
}

.atendente-item p,
.whatsapp-item p {
  font-size: 14px;
}

.atendente-item .fa-star,
.whatsapp-item .bi-phone {
  font-size: 12px;
  padding-right: 3px;
  color: #FF8C00;
}

.whatsapp-item .bi-phone {
  font-size: 15px;
}

.link-atendente {
  color: #9ab251;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.link-atendente:hover {
  color: #0a082f;
}

.atendente-item i {
  font-size: 70px;
}

.atendente-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.atendente-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid #9ab251;
  border-radius: 15px;
  transition: .5s;
}

.atendente-carousel .owl-dot.active {
  background: #0a082f;
  border-color: #9ab251;
}

/* Whatsapp carousel */
.whatsapp-item i {
  font-size: 70px;
}

.whatsapp-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.whatsapp-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid #9ab251;
  border-radius: 15px;
  transition: .5s;
}

.whatsapp-carousel .owl-dot.active {
  background: #0a082f;
  border-color: #9ab251;
}

/* Modal Setor */
.modal-setor-a {
  text-decoration: none;
  color: #585858;
}

.modal-setor-a:hover {
  text-decoration: none;
  color: #585858;
}

.modal-setor {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal-setor:target {
  visibility: visible;
  opacity: 1;
}

.modal-content-setor {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
  /* bottom: 20%; */
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.icon-chat {
  margin-left: 22px;
}

.search_chat {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.search_chat div,
.search_chat_modal div {
  width: 100%;
}

.search_chat div input {
  width: 100%;
  outline: none;
  border: none;
  background: #fff;
  padding: 6px;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 40px;
}

.search_chat div input::placeholder,
.search_chat_modal div input::placeholder {
  color: #bbb;
}

.search_chat div .bi-search,
.search_chat_modal div .bi-search {
  position: absolute;
  left: 30px;
  top: 14px;
  font-size: 1.2em;
}
