crmZap/node_modules
crmZap/public/build
crmZap/public/hot
crmZap/public/storage
crmZap/storage/*.key
crmZap/vendor
crmZap/.env
crmZap/.env.backup
crmZap/.env.production
crmZap/.phpunit.result.cache
crmZap/Homestead.json
crmZap/Homestead.yaml
crmZap/auth.json
crmZap/npm-debug.log
crmZap/yarn-error.log
crmZap/.fleet
crmZap/.idea
crmZap/.vscode
